/* Basic Style */
.page {
	background-color: #f8f8f8;
	color: #333;
	font-family: Lato, sans-serif;
	@@ -10,7 +10,7 @@ body {
	display: block;
	text-align: right;
}
.eisenhower-matrix .matrix-img {
	width: 100%;
}
.eisenhower-matrix .more-inf {
	@@ -44,7 +44,7 @@ li, h3 {
input,button{
	outline:none;
}
.btn {
	background: none;
	border: 0px;
	color: #888;
	@@ -53,12 +53,11 @@ button {
	font-family: Lato, sans-serif;
	cursor: pointer;
}
.btn:hover {
	color: #3a3A3a;
}
/* Heading */
.block-title {
	color: #333;
	font-weight: 700;
	font-size: 15px;
	@@ -67,7 +66,7 @@ label[for="new-task"] {
	margin: 0;
	text-transform: uppercase;
}
.input {
	margin: 0;
	font-size: 18px;
	line-height: 18px;
	@@ -79,24 +78,24 @@ input[type="text"] {
	font-family: Lato, sans-serif;
	color: #888;
}
.input:focus {
	color: #333;
}

/* New Task */
.new-task-title {
	display: block;
	margin: 0 0 20px;
}
.input#new-task {
	width: 318px;
}
#add-element > .btn:hover {
	color: #0fc57c;
}

/* Task list */
.tasks-item {
	overflow: hidden;
	padding: 20px 0;
	border-bottom: 1px solid #eee;
	@@ -105,50 +104,50 @@ li {
	justify-content: space-between;
	align-items: center;
}
.tasks-item > * {
	vertical-align: middle;
}

.tasks-item > .checkbox {
	margin: 0 10px;
}
.tasks-item > .label {
	padding-left: 10px;
	box-sizing: border-box;
	font-size: 18px;
	width: 226px;
}
.tasks-item >    .input {
	width: 226px
}
.tasks-item > .delete:hover {
	color: #cf2323;
}
.delete .delete-img {
	height: 2em;
	transform: rotateZ(45deg);
	transition: transform 200ms ease-in;
}
.delete .delete-img:hover {
	transform: rotateZ(0);
}

/* Completed */
#completed-tasks .label {
	text-decoration: line-through
	color: #888;
}

/* Edit Task */
.tasks-item .input {
	display:none
}

.edit-mode .input {
	display:inline-block;
	width:224px
}

.edit-mode .label {
	display:none;
}
